body {
  margin: 0;
  background-image: url(Background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial;
}

p {
  font-family: Arial;
}

header {
  background: linear-gradient(rgb(230, 230, 230), rgb(120, 120, 120));
  display: grid;
  grid-template-columns: 50px 1fr;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.logo-logo {
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
}

.header-menu {
  justify-self: end;
  display: grid;
  grid-template-columns: 64px 83px 50px 150px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.menu-home,
.menu-gate,
.menu-cipher {
  margin: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.menu-gate-down {
  z-index: 200;
  position: absolute;
  background: linear-gradient(
    to bottom right,
    rgb(230, 230, 230),
    rgb(120, 120, 120)
  );
  padding: 10px 15px;
  line-height: 25px;
  font: 16px;
  top: 50px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}

.reset-box {
  z-index: 300;
  position: absolute;
  background: linear-gradient(
    to top right,
    rgb(230, 230, 230),
    rgb(120, 120, 120)
  );
  width: 500px;
  height: 250px;
  left: -160px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  pointer-events: none;
  opacity: 0;
  border-radius: 10px;
}

.reset-text {
  color: rgb(230, 30, 43);
  margin: 10px;
}

.reset-butt {
  border: 1px solid;
  margin: 10px;
  font-size: 14px;
  padding: 5px 8px;
  cursor: pointer;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hide-link {
  pointer-events: none;
}
