.gate-name {
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 24px;
}

.gate-img {
  width: 200px;
}

.progress {
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100px;
  padding-bottom: 70px;
}

.progress-title {
  color: white;
  font-size: 18px;
  justify-self: center;
  margin-bottom: 5px;
}

.progress-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-done {
  border-radius: 100px;
  padding: 10px 15px;
  background-color: rgb(192, 74, 48);
  border-color: rgb(252, 173, 52);
  border-style: solid;
  color: white;
  font-family: Arial;
  font-size: 16px;
  width: 42px;
  height: 42px;
  margin-right: 5px;
  cursor: pointer;
}

.progress-tbd {
  border-radius: 100px;
  padding: 10px 15px;
  background-color: rgb(65, 65, 65);
  border-color: rgb(98, 98, 98);
  border-style: solid;
  color: white;
  font-family: Arial;
  font-size: 16px;
  width: 42px;
  height: 42px;
  margin-right: 5px;
}

.progress-key {
  width: 21px;
  height: 31px;
  margin-top: 5px;
  position: absolute;
  bottom: -40px;
}

.answer-text {
  color: white;
  font-family: Arial;
}

.puzzle-img {
  width: 700px;
  background-color: black;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 15%;
}

.next-butt,
.submit-butt {
  display: inline;
  background: linear-gradient(
    to bottom right,
    rgb(230, 230, 230),
    rgb(120, 120, 120)
  );
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.next-butt {
  opacity: 0;
  pointer-events: none;
}

.too-far-screen {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
}

.text-background {
  background-color: lightseagreen;
  z-index: 75;
  height: 530px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.unlocked {
  cursor: pointer;
}
