.answer {
  background-color: rgba(240, 24, 78, 0.4);
  border-color: rgb(240, 24, 78);
  border-width: 1px;
  border-style: solid;
  height: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.gate {
  background-color: rgb(240, 24, 78);
  border: rgb(240, 24, 78);
  border-width: 3px;
  border-style: solid;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.info-gate {
  background: rgba(240, 24, 78, 0.4);
  border-color: rgb(240, 24, 78);
  border-width: 1px;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 200px 350px 1fr;
  padding-top: 50px;
}
