.puzzle-gate-container1 {
  display: grid;
  grid-template-columns: 1fr 300px 300px 300px 1fr;
  margin-bottom: 50px;
  margin-top: 50px;
}

.puzzle-gate-container2 {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  margin-bottom: 50px;
}

.puzzle-gate-1,
.puzzle-gate-2,
.puzzle-gate-3,
.puzzle-gate-4,
.puzzle-gate-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.puzzle-gate {
  width: 250px;
}

.puzzle-butt1,
.puzzle-butt2,
.puzzle-butt3,
.puzzle-butt4,
.puzzle-butt5 {
  cursor: pointer;
}

.puzzle-gate-1-container {
  background-color: purple;
}

.puzzle-gate-2-container {
  background-color: green;
}

.puzzle-gate-3-container {
  background-color: gold;
}

.puzzle-gate-4-container {
  background-color: navy;
}

.puzzle-gate-5-container {
  background-color: red;
}

.puzzle-gate-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 400px;
  left: 350px;
  right: 350px;
  bottom: -100px;
}

.puzzle-gate-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}